/*.header,.banner,.main,.footer {margin: 0; padding: 0;}*/
/*ul,li,ol {list-style: none;}
a {text-decoration: none;}
html,body {height: 100%;}*/

/* header */
.header {width: 100%; height: 81px;}
.header .header_content {width: 1440px; height: 81px; background-color: #fff; border-bottom: 1px solid #c1c1c1; margin: 0 auto;}
.header_content .logo {float: left; margin-left: 115px;}
.header_content .nav {float: right; margin-right: 105px;}
.header_content .nav li {float: left; font: 15px/50px "微软雅黑";  padding-right: 30px;}
.header_content .nav li a {color: #333333;}
.header_content .nav li a:hover { color: #fa798d;}
/* main */
.main {width: 100%; height: 972px; margin-top: 30px;}
.main .main_content {width: 1440px; height: 972px; background-color: #efefef; margin: 0 auto;}
.main_content .tip {width: 438px; height: 173px; margin-left: 506px; font-family: "微软雅黑"; color: #000;}
.main_content .tip p {font-size: 34px; text-align: center; margin-bottom: -10px; padding-top: 80px;}
.main_content .tip ul {margin-left: 64px;}
.main_content .tip ul li {float: left; padding: 0 26px;}
.main_content .desc {width: 1323px; height: 605px; margin: 79px 0 0 118px;}
.main_content .desc .desc_one {width: 286px; height: 308px; background-color: #fff; overflow: hidden; float: left; margin: 0 17px 17px 0;}
.main_content .desc .desc_one .desc_content {width: 267px; height: 286px; margin: 10px 0 0 10px;}
.main_content .desc .desc_one .desc_content .desc_tip {font: 17px/27px "微软雅黑"; color: #000; text-align: center;}
.main_content .desc .desc_one .desc_content .infor {font: 12px/19px "微软雅黑"; color: #000;}

/* footer */
.footer {width: 100%; height: 422px;}
.footer .footer_content {width: 1440px; height: 422px; background-color: #393e44; border-top: 10px solid #d73d3d; margin: 0 auto;}
.footer_content .img {margin: 115px 110px 155px 135px; float: left;}
.footer_content .line {width: 6px; height: 219px; background: url(../img/about_19.png); margin: 66px 57px 0 0; float: left;}
.footer_content .about_us {width: 248px; height: 219; margin-top: 66px; float: left;} 
.footer_content .about_us li {font:20px/49px "微软雅黑"; color: #a3a1a4;}
.footer_content .about_us img {vertical-align: middle; padding-right: 6px;}
.footer_content .about_us li ul li {font: 12px/27px "微软雅黑"; padding-left: 6px;}
.footer_content .about_us .title span {padding-left: 50px;}
.footer_content .stop {width: 1440px; height: 76px; background-color: #2f3239; float: left;}
.footer_content p {font: 12px/76px "微软雅黑"; color: #6d6e70; margin-left: 119px;}
.footer_content span {color: #a09c9b; margin-left: -40px;}
